<h1>Review Comp</h1>
<p>Building: <%= @comp.building.address %>, <%=@comp.building.city_state%></p>
<p>Tenant: <%=@comp.tenant%></p>
<p>Date: <%=@comp.date%></p>
<p>Size: <%=@comp.size%></p>
<p>Rent: <%=@comp.rent%></p>
<p>Term: <%=@comp.term%></p>
<br>

<form method='get' action='/comps/<%= @comp.id %>/edit'>
  <input type="submit" value="Edit"><br>
</form>
<form method="post" action="/comps/<%= @comp.id %>/delete">
  <input type="submit" value="Delete"><br>
</form>
