<h1>Review Comp</h1>
<p>Building: <%= @comp.building.address %>, <%=@comp.building.city_state%></p>
<p>Date: <%=@comp.date%></p>
<p>Size: <%=@comp.size%></p>
<p>Rent: <%=@comp.rent%></p>
<p>Term: <%=@comp.term%></p>
<br>
