<h1><%= @user.username %>'s Comps</h1>

<% if flash.has?(:message)%>
  <font color="red"><h2><%= flash[:message] %></h2></font>
<% end %>


<a href="/all">View all comps</a>
<br></br>

<% @user.comps.each.with_index(1) do |comp, index| %>
  <strong><a href="/comps/<%= comp.id %>">Comp <%= index %>:</strong></a><br>
  Address: <%= comp.building.address %>, <%= comp.building.city_state %><br>
  Tenant: <%= comp.tenant %><br>
  Date: <%= comp.date %><br>
  Rentable SF: <%= comp.size %><br>
  Starting Rent: <%= comp.rent %><br>
  Term: <%= comp.term %><br></br>
<% end %><br></br>

<form method="GET" action="/new">
  <input type="submit" value="Add Comp"><br><br>
</form>

<form method="post" action="/logout">
  <input type="submit" value="Logout">
</form>
