<h1>Welcome back!</h1>

<a href="/home">View all comps</a>
<br>

<h3>Here are your comps</h3>

<% @user.comps.each.with_index(1) do |comp, index| %>
  <strong><a href="/comps/<%= comp.id %>">Comp <%= index %>:</strong></a><br>
  Address: <%= comp.building.address %>, <%= comp.building.city_state %><br>
  Tenant: <%= comp.tenant %><br>
  Date: <%= comp.date %><br>
  Rentable SF: <%= comp.size %><br>
  Starting Rent: <%= comp.rent %><br>
  Term: <%= comp.term %><br></br>
<% end %><br></br>

<form method="GET" action="/new">
  <input type="submit" value="Add Comp"><br><br>
</form>
